body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #fff;
}

.result-area {
  text-align: center;
  font-size: 1.5em;
}

.rand-final-result {
  font-size: 1.75em;
  font-weight: bold;
  background-color: #dc3545;
  color: #eee;
}